

<!DOCTYPE html>
<html lang="en" ng-app="ninjaApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>Document</title>

</head>
<body>
<header ng-include="'header.html'"></header>
<div class="content">

  <div ng-controller = 'ninjaController'>
    <button type="button" name="button" ng-click="order='name'">Sort By Name</button>
    <button type="button" name="button" ng-click="order='belt'">Sort by Belt</button>
    <button type="button" name="button" ng-click="order='rate'">Sort by rate</button>
    <button type="button" name="button" ng-click="order='available'">Sort by Belt</button>
    <input type="text" name="" value="" ng-model="search">

    <ul ng-repeat="ninja in ninjas|filter:search|orderBy:order">
      <li>
        <img ng-src="{{ninja.img}}" style="width: 50px">
        <h3>{{ninja.name}} {{ninja.rate|currency}}</h3>
        <span ng-click="remove(ninja)" class="remove">X</span>
        <span class="belt" style="background: {{ninja.belt}}">{{ninja.belt}}</span>
      </li>
    </ul>

  <form ng-submit= "addNinja()">
    <input type="text" placeholder="name" ng-model="newNinja.name">

    <input type="text" placeholder="belt" ng-model="newNinja.belt">

    <input type="text" placeholder="rate" ng-model="newNinja.rate">

    <input type="submit" value="Add Ninja">
  </form>



  </div>
</div>


</body>

<footer>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="index.js" charset="utf-8"></script>

</footer>
</html>
